@model IEnumerable<Day6Demo.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1> <i class="fa fa-list"></i>  Index</h1>
 @* DOM DOCUMNET OBJECT MODEL *@
<div id="UpdatePanel"></div>

<p>
    <a asp-action="Create" class="btn btn-success"><i class="fa fa-save"></i> Create New</a>
</p>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Depart)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Job)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Depart.DepartmentName)
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.EmployeeId"> <i class="fa fa-edit"></i> Edit</a> |
                    <a asp-action="Details" class="btn btn-secondary" asp-route-id="@item.EmployeeId">Details</a> |
                    <a asp-action="ShowEmployee" class="btn btn-success" asp-route-id="@item.EmployeeId">Show</a>|
                     @* Add JavaScript  *@
                    <a href="#"  class="btn btn-success" onclick="GetEmployeeDetails(@item.EmployeeId)">Show Details</a>|
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.EmployeeId"><i class="fa fa-remove"></i>Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


@section MySection{
      @* JavaScript & JQuery To Access the Ajax
         Ajax Call
            1- URL   3
            2- Parameters 
            3- Data 
      *@
    <script>
        function GetEmployeeDetails(id) {
            event.preventDefault();
            //console.log(id);
            $.ajax({
                url: "/Employees/ShowEmployeeDetails/"+id,
                //data: {"id":id},
                success: function (result) {
                    //$("#div1").html(result);
                    //console.log(result);
                    document.getElementById("UpdatePanel").innerHTML = result;
                }
            });
        }

    </script>
}