@model IEnumerable<Day6Demo.Models.Department>

@{
    ViewData["Title"] = "Department";
}

<h1>Department</h1>
<h2> Session  Hi : @Context.Session.GetString("name")</h2>
<p>
    <a asp-action="Create" class="btn btn-primary" >Create New</a>
</p>
<br />
<p>
    <a asp-action="ShowDepartments" class="btn btn-primary">Show Lists</a>
</p>

<br />
@{
    if (TempData.ContainsKey("Message"))
    {
        <h1>@TempData["Message"]</h1>
    }
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmnetManager)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmnetManager)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.DepartmentId" class="btn btn-secondary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DepartmentId" class="btn btn-dark">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.DepartmentId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
