@model IEnumerable<Day6Demo.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary" >Create New</a>
    <a asp-action="Gallery" class="btn btn-success">Open Gallery</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @* @Html.DisplayFor(modelItem => item.Photo) *@
                    @* <img src="@Url.Content("~/images/products/" + item.Photo)" alt="@item.ProductName" width="50" /> *@
                    <img src="@Url.Content("~/images/products/" + (item.Photo ==""?"default.png":item.Photo))"  alt="@item.ProductName" width="50" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-action="Card" asp-route-id="@item.ProductId">Card</a>|
                <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
